:root {
    --Main-Color: #1eb2a6;
}

.testimonal .content .items {
    padding: 30px;
    transition: 0.5s;
}

.testimonal .content .items:hover {
    background-color: var(--Main-Color);
    color: #fff;
    cursor: pointer;
}

.testimonal .content .items .box .img {
    position: relative;
}

.testimonal .content .items .box .img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.testimonal .content .items .box .img i {
    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: var(--Main-Color);
    color: #fff;
}

.testimonal .content .items:hover .box .img i {
    color: var(--Main-Color);
    background-color: #fff;
}


.testimonal .content .items .box .name {
    margin: 25px;
}

.testimonal .content .items .box .name h2 {
    font-size: 20px;
    margin-bottom: 5px;
}


.testimonal .content .items .box .name span {
    color: var(--Main-Color);
}

.testimonal .content .items:hover .box .name span {
    color: #fff;
}



.testimonal .content .items p {
    margin-top: 20px;
    color: grey;
    transition: 0.5s;
}

.testimonal .content .items:hover p {
    color: #fff;
}